# {{ ansible_managed }}
$ModLoad imuxsock
$ModLoad imklog
syslog.debug /var/log/rsyslog-stats
$ModLoad imtcp
$InputTCPServerRun 514
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$WorkDirectory /var/spool/rsyslog
$template DynaFile,"{{ rsys_dir }}%HOSTNAME%.log"
*.* -?DynaFile
# {{ ansible_managed }}
